@use "variables";
@import './base.scss';

#app {
  max-width: 1180px;
  margin: 0 auto;
  padding: 2rem 0 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: variables.$color-text;
  transition: 0.4s;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;

  width: 100%;
  padding: 15px 20px;
  border-radius: variables.$radius-secondary;

  background: variables.$primary;
  color: variables.$color-text;
  transition: variables.$transition;

  &:hover {
    background: lighten(variables.$primary, 5%);
  }
}
